body {
  margin:0;
}

.red, .blue, .yellow {
  height:100px;
  width: 100px;
}

.container {
  position: relative;
  height:300px;
  width:300px;
  background-color: grey;
}

.red {
  background-color: red;
  right:0px;
  position:absolute;
}

.blue {
  background-color: blue;
  top:0;
  left:100px;
  position:absolute;
}

.yellow {
  background-color: yellow;
  top:0;
  position:fixed;
}
